/**
 * 页面切换样式
 */

.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.page-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.page-iframe-active {
  z-index: 2;
}

#tabbar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
}

