/**
 * 底部导航栏样式
 */

.footerbar {
  background: rgba(255, 255, 255, 0.9);
  border-radius: var(--rounded-base, 8px);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footerbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}

ul,
li,
ol,
form,
label {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footerbar ul li {
  height: 30px;
  color: #fff;
  text-align: center;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footerbar ul li > div {
  text-align: center;
  display: inline-block;
}

.footerbar i {
  display: inline-block;
  color: #b6d9e1;
  font-size: 25px;
  vertical-align: middle;
  margin-right: 6px;
  width: 25px;
  height: 25px;
}

.footerbar ul li.on i {
  color: #51adbe;
}

.footerbar ul li > span {
  color: #666;
  font-size: 12px;
  /* margin-top: 4px; */
}
