/**
 * 金刚区样式
 */

.kingkong-container {
  width: 100vw;
  display: grid;
}

.kingkong-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kingkong-icon {
  display: block;
}

.kingkong-text {
  font-size: 14px;
  margin-top: 4px;
  text-align: center;
}
