@charset "utf-8";
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #ffffff05;
}
.dxmap-container {
  --dxmap-themeColor: var(--themeColor, #1089f3);
  --dxmap-BtnFontColor: var(--themeBtnTextColor, #333);
}
.dxmap-container .image_button_control,
.dxmap-container .icon_button_control {
  border-radius: var(--rounded-base, 8px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shadowbox {
  box-shadow:
    1px 1px 1px rgb(0 0 0 / 10%),
    0 0 0 0.5px #d1d1d1;
}
.dxmap-container .compass_container {
  position: absolute;
  display: block;
  width: 38px;
  height: 38px;
}
.dxmap-container .main_btn,
.dxmap-container .main_zoom {
  text-align: center;
  background: rgba(255, 255, 255, 1);
  border-radius: var(--rounded-base, 8px);
  /* border: 1px solid #bfbfbf;  */
  /* box-shadow: 1px 1px 3px rgb(0 0 0 / 20%); */
  /* box-shadow: 1px 1px 3px rgba(0,0,0,.2), 0 0 0 0.5px #d8d8d8; */
  box-sizing: border-box;
}

.dxmap-container .mode_item {
  /* font-weight: 500; */
  align-items: center;
  justify-content: center;
}
.dxmap-container .location-btn {
  line-height: 34px;
  font-size: 18px;
}
.main_btn .btn_content {
  line-height: 1.5;
  font-size: 1.2rem;
  display: inline-block;
  width: auto;
}
.btn-small-sqrt {
  padding: 4px;
}
/* .dxmap-container  */
.map_mode_container,
.compass_container,
.position-abs,
.zoom_wrapper {
  position: absolute;
}

.active {
  border: 0;
}

.hide {
  display: none !important;
}

.enable {
  opacity: 1;
}

.disable {
  opacity: 0.6;
}

.clearfix::after {
  content: "\20";
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  zoom: 1;
}

.nav-list {
  display: table;
  width: 100%;
  height: 100%;
  /*超出后 table cell 指定的width 不溢出*/
  /* table-layout: fixed; */
}

.nav-list li {
  display: table-cell;
  /*height: 50px;*/
}

.result_page .nav-list li {
  display: inline-block;
}

.table_row {
  display: table-row;
}

/*修正 字体大小*/
/* *,
body,
div,
p,
span,
input,
textarea,
select {
    padding: 0px;
    margin: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
    color: #333;
    font-size: 14px
} */

/*组件 position*/

.nav_bar_wapper,
.zoom_wrapper,
.main_location_btn,
.main_floor_scroll,
.routing-selector,
.routing-bottom,
.roadcross_container,
.change_floor_container,
.navi-top-container,
.navi_bottom_container,
.park-btn {
  position: absolute;
}

.main_btn {
  /* color: #333; */
  text-align: center;
  color: var(--dxmap-BtnFontColor, #333);
}

.main_location_btn span,
.main_btn span,
.zoom_btn span {
  line-height: 34px;
}
.main_location_btn .loc-follow {
  background-image: url(../../map/assets/images/location_fllow.png);
  background-size: 28px;
  background-position: center center;
}

/*  compass style*/

/* zoomWapper style */

.zoom_wrapper {
  position: absolute;
  width: 34px;
  color: var(--dxmap-BtnFontColor, #333);
  text-align: center;
  border-radius: 4px;
  opacity: 1;
  font-size: 16px;
  box-sizing: border-box;
}

/* zoom btn style */

.zoom_wrapper .zoom_btn {
  width: 100%;
  height: 50%;
  text-align: center;
  background-color: transparent;
  box-sizing: border-box;
}

.main_btn span,
.zoom_wrapper span {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.zoom_wrapper .icon-jia,
.zoom_wrapper .icon-jian {
  width: 80%;
  margin: 0 auto;
  line-height: 34px;
}

.zoom_wrapper .zoom_btn .icon-jia {
  border-bottom: #ccc 1px solid;
}

/* map_mode style */

.map_mode_container {
  position: absolute;
  width: 34px;
  height: 34px;
  line-height: 34px;
  /* background: #fff; */
}

.exploded_view_container {
  position: absolute;
  width: 34px;
  height: 34px;
  /* right: 16px;
    bottom: 100px; */
  line-height: 34px;
  /* background: #fff; */
}

/* location_btn style */

.main_location_btn {
  position: absolute;
  width: 34px;
  height: 34px;
  /* left: 16px;
    bottom: 16px; */
  line-height: 34px;
}
.mainmap_container .main_location_btn .icon-located {
  color: var(--themeColor, #1089f3);
}

.main_location_btn span {
  font-size: 20px;
}

/* floorbtn style */

.main_floor_scroll {
  position: absolute;
  max-height: 154px;
  overflow-y: scroll;
  background-color: #fff;
  border-radius: 4px;
  /* border: 1px solid #bfbfbf; */
  /* box-shadow: 1px 1px 3px rgb(0 0 0 / 20%); */
  box-shadow:
    1px 1px 3px rgba(0, 0, 0, 0.2),
    0 0 0 0.5px #d8d8d8;
  width: 100%;
  min-width: 36px;
  max-width: fit-content;
}

.main_floor_scroll .main_floor_btnsbar {
  overflow: hidden;
  height: 100%;
  position: relative;
}

.main_floor_btnsbar .floor_btns_container {
  position: relative;
}

.main_floor_scroll .main_floor_btnsbar li {
  min-width: max-content;
  max-width: 100%;
  line-height: 28px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  /* padding: 0.2em; */
}
.main_floor_btnsbar li.active {
  background-color: var(--dxmap-themeColor, #1089f3);
  color: #fff;
  /* border-radius: 50%; */
}
.main_floor_btnsbar li.active + li {
  border-top: 1px solid #ececec;
}

.main_floor_scroll .inhibiting_magic {
  border-radius: 6px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  pointer-events: none;
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 28%, rgba(255, 255, 255, 0) 72%, rgba(255, 255, 255, 1) 100%); */
}

.main_floor_scroll .inhibiting_magic .active_floor_modal {
  width: 104%;
  height: 30px;
  position: relative;
  left: -1px;
  top: 49px;
  background-color: rgba(228, 224, 224, 0.2);
  border: 1px solid #e0dbdb80;
  border-left: 0px;
  border-right: 0px;
}

.map_mode_container .mode_2d {
  display: flex;
}
.map_mode_container .mode_3d {
  display: none;
}
.map_mode_container.active_mode3d .mode_2d {
  display: none;
}
.map_mode_container.active_mode3d .mode_3d {
  display: flex;
}
.main_location_btn .icon-located,
.main_location_btn .icon-located-follow {
  /* color:#1089f3; */
  color: var(--themeColor, #1089f3);
}
.main_location_btn .icon-locate,
.main_location_btn .icon-loading {
  color: var(--dxmap-color-light, #646465);
}
.main_location_btn .icon-failure {
  color: var(--dxmap-color, #212122);
}
.btn.disabled {
  color: #d4d4d4;
}
.dx_component_wrapper {
  border-radius: 0.8rem;
}
.icon_button_control.active {
  color: var(--themeColor, #027fe7);
}
